<div>
  <p class="slogan">千门万户曈曈日，总把新桃换旧符</p>
  <p class="content">
    嗨，请坐和放宽，我们正在开发并将开发一些令人激动的新功能<br />
    花费的时间可能会比预期稍长，但我们将会尽快完成
  </p>
</div>

<style>
  div {
    height: 50vh;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1rem;

    .slogan {
      font-size: 3rem;
      font-weight: 500;
      letter-spacing: 0.5rem;
      color: var(--color-text-bland);
    }

    .content {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 300;
      letter-spacing: 0.2rem;
    }
  }
</style>
